.App {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: space-between;
}
.App>div{
  display: flex;
  flex-direction: column;
}

.generated--cats>div, .adobted--cats>div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
width: 500px;
}